{% block header %}

<header class="h-20">
  <section class="navbar shadow-lg bg-neutral text-neutral-content rounded-box px-20 fixed w-full z-20 h-20">
    <div class="flex-none px-2 mx-2">
      <a href="/">
        <img src="../../static/img/arcane-logo.png" width="53" height="51">
      </a>
    </div>
    <div class="flex-1 px-2 mx-2">
      <div class="items-stretch hidden lg:flex">
        <a class="btn btn-ghost btn-sm rounded-btn uppercase">
          Home
        </a>
        <a class="btn btn-ghost btn-sm rounded-btn uppercase">
          Tracking
        </a>
      </div>
    </div>

    <div class="mr-2">
      {% if request.resolver_match.url_name == 'login' %}
        <a href="/accounts/register/">
            Registrarse
        </a>
      {% else %}
      <a href="/accounts/login/">
        Iniciar sesión
      </a>
      {% endif %}
    </div>
    <div class="flex-none">
        <div class="avatar">
          <div class="rounded-full w-10 h-10 m-1">
            <img src="https://i.pravatar.cc/500?img=32">
          </div>
        </div>
      </div>
    </section>
</header>
{% endblock %}
