{% extends "dashboard/base.html" %}
{% block body %}
  {% include "components/dashboard/title.html" with underline_text="Fac" underline_subtext="turas" %}

  {# Error handling #}

  <section class="flex flex-col items-center my-3">
    {% for message in messages %}
      <div class="w-auto alert alert-{{message.tags|default:"error"}}">
        <div class="flex-1">
          <label>{{message}}</label>
        </div>
      </div>
    {% endfor %}
  </section>

  {# table #}
  <div class="overflow-x-auto px-4">
    <table class="table w-full">
      <thead>
        <tr>
          <th>
            <label>
              <input type="checkbox" class="checkbox">
            </label>
          </th>
          <th>Nro. Ref</th>
          <th>Fecha</th>
          <th>Estatus</th>
          <th>Monto Total</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody>
        {% for invoice in page_obj %}
          <tr>
            <th>
              <label>
                <input type="checkbox" class="checkbox">
              </label>
            </th>
            {# Nro.Ref #}
            <td>
              {{ invoice.id }}
            </td>
            {# Fecha #}
            <td class="flex flex-col items-start gap-x-2">
              {% for date in invoice.dates.all %}
                <p>{{ date.date }}</p>
              {% endfor %}
            </td>

            {# Estatus #}
            <td>{{invoice.state}}</td>
            {# Monto total #}
            <td>{{invoice.ammount}}</td>
            {# Accion #}
            <th>
              <a href="
                {% if request.user.is_staff %}
                  {% url "dashboard:admin-invoice-detail" pk=invoice.id %}
                {%else%}
                  {% url "dashboard:invoice-detail" pk=invoice.id %}
                {% endif %}
                ">
                <button class="btn btn-ghost btn-xs">Detail</button>
              </a>
            </th>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {# Pagination #}
  <div class="flex justify-center w-full">
    {% include "partials/pagination.html" %}
  </div>
  {# pagination #}
{% endblock %}
