{% extends "base.html" %}
{% block body %}
  {% include "components/dashboard/title.html" with underline_text="Fac" underline_subtext="turas" %}

  {# table #}
  <div class="overflow-x-auto px-4">
    <table class="table w-full">
      <thead>
        <tr>
          <th>
            <label>
              <input type="checkbox" class="checkbox">
            </label>
          </th>
          <th>Nro. Ref</th>
          <th>Fecha</th>
          <th>Estatus</th>
          <th>Monto Total</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody>
        {% for invoice in page_obj %}
          <tr>
            <th>
              <label>
                <input type="checkbox" class="checkbox">
              </label>
            </th>
            {# Nro.Ref #}
            <td>
              {{ invoice.id }}
            </td>
            {# Fecha #}
            <td class="flex justify-center items-center gap-x-2">
              {% for date in invoice.dates.all %}
                <p>{{ date.date }}</p>
              {% endfor %}
            </td>

            {# Estatus #}
            <td>{{invoice.state}}</td>
            {# Monto total #}
            <td>{{invoice.ammount}}</td>
            {# Accion #}
            <th>
              <a href="{% url "dashboard:invoice-detail" %}">
                <button class="btn btn-ghost btn-xs">details</button>
              </a>
            </th>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {# Pagination #}
  <div class="flex justify-center w-full">
    {% include "partials/pagination.html" %}
  </div>
  {# pagination #}
{% endblock %}
