{% extends "dashboard/base.html" %}

{% block body %}
  <form method="GET" action="https://bank.vittorioadesso.com/paygateway">
    <input name="key" value="RlyPbH7nV0p1HqQ_2kzq-7PfjihC6fPB71RlZEsp_WFZ">
    <input name="order" value="001">
    <input name="reason" value="prueba">
    <input name="name" value="producto">
    <input name="ammount" value="80">
    <input name="image" value="https://sc04.alicdn.com/kf/Uc0b56e875b04467aa767dda132693ee5V.jpg">
    <input name="num" value="1">
    <input name="logotype" value="https://upload.wikimedia.org/wikipedia/commons/9/9b/Zortrax-logotype.svg">
    <input type="submit" value="Pagar">
  </form>

{% endblock %}
