{% extends "dashboard/base.html" %}
{% load static %}
{% block extrascripts %}
    <script defer src="{% static "chart.js/dist/chart.min.js" %}"></script>
    <script src="{% static "js/dashboard_reports.js" %}"></script>
{% endblock %}
{% block body %}
    {% include "components/dashboard/title.html" with underline_text="Repo" underline_subtext="rtes" %}

    <h2 class="text-lg">Tipo</h2>
    <section class="tabs tabs-boxed justify-center">
        <a class="tab">Envios</a>
        <a class="tab tab-active">Clientes</a>
        <a class="tab">Destinos</a>
        <a class="tab">Facturas</a>
    </section>

    <h2 class="text-lg">Filtros de fecha</h2>

    {% include "dashboard/reportes/reportes_form.html" %}

    <div id="chartData"></div>
    <div style="background-color: white;">
      <canvas id="myChart"></canvas>
    </div>
{% endblock %}
