{% extends "base.html" %}

{% load widget_tweaks %}
{% load enums_tags %}

{% block body %}
  {% include "components/dashboard/title.html" with underline_text="Env" underline_subtext="ios" %}

  {# filter form #}
  <form class="flex justify-center gap-x-6 my-4" method="GET">
    <p>Filtrar por</p>
    {% csrf_token %}
    <div class="flex flex-col">
      <label class="text-info" for="{{filter_form.state.id_for_label}}">Estado</label>
      {% render_field filter_form.state class+="select select-bordered" %}
    </div>
    <button class="btn btn-primary" type="submit">Filtrar</button>
  </form>
  {# table #}
  <div class="overflow-x-auto px-4">
    {% if page_obj %}
      <table class="table w-full">
        <thead>
          <tr>
            <th>
              <label>
                <input type="checkbox" class="checkbox">
              </label>
            </th>
            <th>Nro. Ref</th>
            <th>Dirección destino</th>
            <th>Estatus</th>
            <th>Accion</th>
          </tr>
        </thead>
        <tbody>
          {% for shipment in page_obj %}
            <tr>
              <th>
                <label>
                  <input type="checkbox" class="checkbox">
                </label>
              </th>
              {# Nro.Ref #}
              <td>
                {{ shipment.id }}
              </td>
              {# Dirección #}
              <td>{{shipment.target_address}}</td>
              {# Estatus #}
              <td>{% get_textchoice_label shipment.state statechoices %}</td>
              {# Accion #}
              <th>
                <button class="btn btn-ghost btn-xs">details</button>
              </th>
            </tr>
          {% empty %}
            <p class="text-center text-xl">No hay envios</p>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="text-center text-2xl">No hay envios que mostrar</p>
    {% endif %}
  </div>
  {# Pagination #}
  {% if page_obj %}
    <div class="flex justify-center w-full">
      {% include "partials/pagination.html" %}
    </div>
  {% endif %}
  {# pagination #}
{% endblock %}
