<div class="flex gap-x-4 items-baseline">
  <a
    href="
    {% if not reverse_url %}
      {% if request.user.is_staff %}
        {% url "dashboard:admin-index" %}
      {% else%}
        {% url "dashboard:index" %}
      {%endif%}
    {%else%}
      {% url reverse_url %}
    {% endif %}
    "
      class="btn btn-square btn-ghost">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current text-primary">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
    </svg>
  </a>
  <h1 class="align-middle text-2xl my-6">
    <span
      class="underline decoration-4 underline-offset-4 decoration-primary">{{underline_text}}</span><span>{{underline_subtext}}</span>
  </h1>

</div>
