{% extends "base.html" %}
{% load static %}

{% block extrastyles %}
  <style>
    .wall-img {
      background-image: url("/static/img/home-hero-img.webp");
      height: 37em;
      background-position: center;
      background-size: cover;
    }
    .hero-title {
      width: fit-content;
      padding: 0.5em 2em;
      margin-bottom: 2em;
    }

    .hero-title-shadow {
      background-color: rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(1px);
      text-shadow: 0px 4px 4px #000000;
      text-align: center;
    }

    .search-input {
      width: 30em;
    }
  </style>
{% endblock %}

{% block body %}
  <section class="bg-fixed wall-img flex flex-col justify-center items-center">
    <div class="hero-title mb-8">
      <p class="text-7xl hero-title-shadow">El futuro es hoy, viejo <br/> Rastrea tu envío</p>
    </div>
    <form>
      <input class="input input-bordered search-input" placeholder="Número de rastreo" type="text">
      <button class="btn btn-primary" type="submit">Buscar</button>
    </form>
  </section>

  <article class="flex gap-x-6 m-10">
    <img src="{% static 'img/imagenSeñores.png' %}">
    <div class="flex flex-col gap-y-2">
      <h1 class="text-5xl">Trabajando para lograr un <span class="underline decoration-4 underline-offset-4 decoration-primary">mundo</span> mejor.</h1>
      <p class="pt-7">Realizamos envíos a todas partes del mundo, Brasil, Panamá, Argentina, Bolivia, Norteamérica, Centroamérica, Europa, Asia, África y Oceanía. La Tierra necesita nuestra atención y nosotros estamos trabajando para dársela. Por esa razón, anunciamos nuestra meta de operaciones de carbono neutral a más tardar en el 2040 y una iniciativa audaz para llegar allí: Prioridad Tierra. Es la manera en la que estamos trabajando para entregar un futuro más sustentable para el lugar que todos compartimos.</p>
    </div>
  </article>

  <section class="px-2">
    <h3 class="text-center text-5xl m-6 mb-8">Ayudamos a impulsar tu comercio</h3>
    <div class="flex gap-x-1">
      {% include "partials/daisy-card.html" with card_title="Contacta con nosotros" picsum_url="https://picsum.photos/id/1033/400/250" body_text="Escríbenos a nuestro correo distribuidorarcane@mail.com y lleguemos a un acuerdo."%}

      {% include "partials/daisy-card.html" with card_title="Envíos seguros" picsum_url="https://picsum.photos/id/1026/300/250" body_text="Garantizamos que tu envío llegue sano y salvo."%}

      {% include "partials/daisy-card.html" with card_title="Reembolsos" picsum_url="https://picsum.photos/id/103/300/250" body_text="Nos hacemos responsables de cualquier pérdida."%}
    </div>
  </section>
{% endblock body %}
