{% extends "base.html" %}

{% block body %}

<form method="post" action="{% url 'login' %}">
  {% csrf_token %}

  <input type="hidden" name="next" value="{{ next }}">

  <div class="hero min-h-screen bg-base-200">
    <div class="flex-col justify-center hero-content lg:flex-row">
      <div class="text-center lg:text-left">
        <h1 class="mb-5 text-3xl text-center">
          Ingrese sus datos para <br>iniciar sesión
        </h1>
        <div>
        </div>

        {# For unauthenticated views #}

        {% if next %}
            {% if user.is_authenticated %}
              {% for message in messages %}
                <div class="alert alert-{{message.tags|default:"error"}}">
                  <div class="flex-1">
                    <label>{{message}}</label>
                  </div>
                </div>
              {% endfor %}
            {% else %}
              <div class="alert alert-error">
                <div class="flex-1">
                  <label>Por favor autenticate, para ver la pagina.</label>
                </div>
              </div>
            {% endif %}
        {% endif %}

      </div>
      <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
        <div class="card-body">
          {% include "partials/form_field.html" with field=form.username %}
          {% include "partials/form_field.html" with field=form.password %}
          <div class="form-control">
            <label class="label">
              {# Assumes you set up the password_reset view in your URLconf #}
              <a href="{% url 'password_reset' %}" class="label-text-alt">Olvidaste tu contraseña?</a>
            </label>
          </div>
          {% if form.errors %}
            <p class="text-error">Tu usuario y contraseña no coinciden.</p>
          {% endif %}
          <div class="form-control mt-6">
            <input type="submit" value="Ingresar" class="btn btn-primary">
          </div>
          <div class="border-neutral border-solid border mt-6 p-4">
            ¿No tienes una cuenta?
            <a href="{% url "register" %}" class="underline">Regístrate</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
