  <section class="tabs tabs-boxed gap-x-8 justify-center">
    {% for radio in form.tipo %}
    <label for="{{ radio.id_for_label }}" class="flex gap-x-2 cursor-pointer label">
      <input
        type="{{radio.data.type}}"
        @click="currentTab = '{{radio.data.value|stringformat:'s'}}' "
        x-bind="input"
        id="{{radio.id_for_label}}"
        name="{{form.tipo.name}}"
        class="radio checked:bg-blue-500"
        value="{{radio.data.value}}"
        x-bind:checked="currentTab == '{{radio.data.value}}'"
        >
        <span class="label-text">{{radio.choice_label}}</span>
    </label>
    {% endfor %}
  </section>
  <section id="date-filters" class="self-center my-2">
    <template x-if="currentTab == '{{datechoices.DIA.value}}' ">
      <div>
        <div class="flex flex-col items-center">
          <label class="" for="{{day_form.dia.id_for_label}}">
            <p>
              Escoge un dia
            </p>
          </label>
          <input class="input self-center input-bordered" id="{{day_form.dia.id_for_label}}" name="{{day_form.dia.name}}" type="date" value="{{day_form.dia.initial|date:"Y-m-d"}}">
        </div>

        {# Form Errors #}
        {% include "dashboard/reportes/form_errors.html" with errors="diaErrors" %}
      </div>
    </template>
    <template x-if="currentTab == '{{datechoices.MES.value}}' ">
      <div class="flex justify-center">
        <div class="w-1/2 max-w-xs mr-6">
          <label for="{{month_form.month.id_for_label}}">Escoge un mes</label>
          <select id="{{month_form.month.id_for_label}}" name="{{month_form.month.name}}" class="select select-bordered w-full">
            {% for month in month_form.month %}
              {{month}}
            {% endfor %}
          </select>
        </div>
        <div class="w-1/2 max-w-xs">
          <label for="{{month_form.year.id_for_label}}">Escoge un año entre el actual y el pasado</label>
          <select id="{{month_form.year.id_for_label}}" name="{{month_form.year.name}}" class="select select-bordered w-full">
            {% for year in month_form.year %}
              {{year}}
            {% endfor %}
          </select>
        </div>
      </div>

      {# Form Errors #}
      {% include "dashboard/reportes/form_errors.html" with errors="mesErrors" %}


    </template>
    <template x-if="currentTab == '{{datechoices.INTERVALO.value}}' ">
      <section>
        <div class="flex justify-center items-center gap-x-4">
          <div>
            <label for="{{range_form.initial_date.id_for_label}}">Inicio</label>
            <input id="{{range_form.initial_date.id_for_label}}" class="input input-bordered" type="date" name="{{range_form.initial_date.name}}" value="{{range_form.initial_date.initial|date:"Y-m-d"}}">
          </div>
          <div>
            <label for="{{range_form.end_date.id_for_label}}">Fin</label>
            <input id="{{range_form.end_date.id_for_label}}" class="input input-bordered" type="date" name="{{range_form.end_date.name}}" value="{{range_form.end_date.initial|date:"Y-m-d"}}">
          </div>
          {# Form Errors #}
          {% include "dashboard/reportes/form_errors.html" with errors="rangeErrors" %}
        </div>
      </section>
    </template>
  </section>
  <div class="flex justify-center">
    <button class="btn btn-primary self-center my-2" type="submit">Aplicar</button>
  </div>
