  <section class="tabs tabs-boxed gap-x-8 justify-center">
    {% for radio in form.tipo %}
    <label for="{{ radio.id_for_label }}" class="flex gap-x-2 cursor-pointer label">
      <input
        type="{{radio.data.type}}"
        @click="currentTab = '{{radio.data.value|stringformat:'s'}}' "
        x-bind="input"
        id="{{radio.id_for_label}}"
        name="{{form.tipo.name}}"
        class="radio checked:bg-blue-500"
        value="{{radio.data.value}}"
        x-bind:checked="currentTab == '{{radio.data.value}}'"
        >
        <span class="label-text">{{radio.choice_label}}</span>
    </label>
    {% endfor %}
  </section>
  <section id="date-filters" class="self-center my-2">
    <template x-if="currentTab == '{{datechoices.DIA.value}}' ">
      <div>
        <div class="flex flex-col items-center">
          <label class="" for="{{day_form.dia.id_for_label}}">
            <p>
              Escoge un dia
            </p>
          </label>
          <input class="input self-center input-bordered" id="{{day_form.dia.id_for_label}}" name="{{day_form.dia.name}}" type="date" value="{{day_form.fields.dia.initial}}">
        </div>

        {# Form Errors #}
        {% include "dashboard/reportes/form_errors.html" with errors="diaErrors" %}
      </div>
    </template>
    <template x-if="currentTab == '{{datechoices.MES.value}}' ">
      <div class="flex justify-center">
        <div class="w-1/2 max-w-xs mr-6">
          <label for="">Escoge un mes</label>
          <select name="month" class="select select-bordered w-full">
            <option value="1" selected>Enero</option>
            <option value="2">Febrero</option>
            <option value="3">Marzo</option>
            <option value="4">Abril</option>
            <option value="5">Mayo</option>
            <option value="6">Junio</option>
            <option value="7">Julio</option>
            <option value="8">Agosto</option>
            <option value="9">Septiembre</option>
            <option value="10">Octubre</option>
            <option value="11">Noviembre</option>
            <option value="12">Diciembre</option>
          </select>
        </div>
        <div class="w-1/2 max-w-xs">
          <label for="">Escoge un año entre el actual y el pasado</label>
          <select name="year" class="select select-bordered w-full">
            {% for year in month_form.year %}
              {{year}}
            {% endfor %}
          </select>
        </div>
      </div>

      {# Form Errors #}
      {% include "dashboard/reportes/form_errors.html" with errors="mesErrors" %}


    </template>
    <template x-if="currentTab == '{{datechoices.INTERVALO.value}}' ">
      <section>
        <div class="flex justify-center items-center gap-x-4">
          <div>
            <label for="">Inicio</label>
            <input class="input input-bordered" type="date" name="initial_date" min="2022-01-01">
          </div>
          <div>
            <label for="">Fin</label>
            <input class="input input-bordered" type="date" name="end_date">
          </div>
          {# Form Errors #}
          {% include "dashboard/reportes/form_errors.html" with errors="rangeErrors" %}
        </div>
      </section>
    </template>
  </section>
  <div class="flex justify-center">
    <button class="btn btn-primary self-center my-2" type="submit">Aplicar</button>
  </div>
