<form
  class="flex flex-col"
  x-data="formComponent('{{datechoices.DIA.value}}')"
  data-initial-tab="{{datechoices.DIA.value}}"
  method="GET"
  id="chart-form"
  hx-swap="none"
  hx-get
  >
  <section class="tabs tabs-boxed gap-x-8 justify-center">
    {% for radio in form.tipo %}
    <label for="{{ radio.id_for_label }}" class="flex gap-x-2 cursor-pointer label">
      <input
        type="{{radio.data.type}}"
        @click="currentTab = '{{radio.data.value|stringformat:'s'}}' "
        x-bind="input"
        id="{{radio.id_for_label}}"
        name="{{form.tipo.name}}"
        class="radio checked:bg-blue-500"
        value="{{radio.data.value}}"
        x-bind:checked="currentTab == '{{radio.data.value}}'"
        >
        <span class="label-text">{{radio.choice_label}}</span>
    </label>
    {% endfor %}
  </section>
  <section id="date-filters" class="self-center my-2">
    <template x-if="currentTab == '{{datechoices.DIA.value}}' ">
      <div>
        <div class="flex flex-col">
          <label class="" for="{{day_form.dia.id_for_label}}">
            <p>
              Escoge un dia entre {{day_form.min_date|date:"d/m/Y"}}
              y {{day_form.max_date|date:"d/m/Y"}}
            </p>
          </label>
          <input class="input self-center input-bordered" id="{{day_form.dia.id_for_label}}" name="{{day_form.dia.name}}" type="date" min="{{day_form.fields.dia.widget.attrs.min}}" max="{{day_form.fields.dia.widget.attrs.max}}" value="{{day_form.fields.dia.initial}}">
        </div>

        {# Form Errors #}
        {% include "dashboard/reportes/form_errors.html" with errors="diaErrors" %}
      </div>
    </template>
    <template x-if="currentTab == '{{datechoices.MES.value}}' ">
      <div>
        <div>
          <label for="">Escoge un mes del año actual</label>
          <input class="input input-bordered" type="date" min="2022-01-01" max="2023-01-01" value="2022-01-01">
        </div>

        {# Form Errors #}
        {% include "dashboard/reportes/form_errors.html" with errors="mesErrors" %}

      </div>
    </template>
    <template x-if="currentTab == '{{datechoices.INTERVALO.value}}' ">
      <section>
        <div>
          <div>
            <label for="">Inicio</label>
            <input class="input input-bordered" type="date" min="2022-01-01" max="2023-01-01" value="2022-01-01">
          </div>
          <div>
            <label for="">Fin</label>
            <input class="input input-bordered" type="date" min="2022-01-01" max="2023-01-01" value="2022-01-01">
          </div>
          {# Form Errors #}
          {% include "dashboard/reportes/form_errors.html" with errors="rangeErrors" %}
        </div>
      </section>
    </template>
  </section>
  <button class="btn btn-primary self-center my-2" type="submit">Aplicar</button>

</form>
